
/* Page background on dark blue */
html {
    background-color: black;
    color: white;
    font-size: 1.5rem;
}

svg {
    display: block;
    height: 2.5rem;
    width: 2.5rem;
}

/* Social Media Icons Animation */

.social-icon {
    color: hsl(204, 0%, 50%);
    fill: hsl(204, 0%, 50%);
}

.social-icon:hover {
    background: hsl(204, 0%, 100%);
    border-radius: 100%;
    color: hsl(210, 45%, 0%);
    fill: hsl(210, 45%, 0%);
    transform: scale(1.25);
    transition: background-color .5s, transform .5s ease-out;
}

.project {
    
}

.project.selected img{
    max-height: 8rem;
}

.project.selected {
    width: auto;
    margin: 2rem auto;
    opacity: 1;
    transition: opacity 0.5s linear;
}

.project-description {
    width: auto;
    margin: 0 5rem;
}

img {
    width: auto;
    height: auto;
    max-height: 5rem;
}

a {
    color: hsl(0, 0%, 60%);
    text-decoration: none;
}

a:hover{
    border: 2px;
    color: hsl(0, 0%, 100%);
    transition: all .2s ease-out;
}

#info * {
    margin: 0.3rem 0;
}

.pure-white{
    color: hsl(0, 0%, 100%);
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto; /* Make sure it's centralized! */
    padding: 0.5rem;
    max-width: 80rem;
    align-items: center;
    justify-content: center;
}

.menu-item{
    display: inline-flex;
    margin: 0 0.8rem;
    font-style: italic;
}

.half-padding{
    padding: 0.5rem;
}

.padding{
    padding: 1rem;
}

.poetic {
    font-family: serif;
    font-size: 1.2rem;
    padding: 1rem;
    max-width: 17rem;
    color: floralwhite;
}

.flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.projects-view {
    max-width: 50rem;
}

.flex-collumn{
    flex-direction: column;
}

.flex-align-center{
    align-content: center;
}

.flex-align-start{
    align-content: flex-start;
}

.flex-align-end{
    align-content: flex-end;
}

.flex-center{
    margin: 0 auto;
}

.flex-right{
    margin-left: auto;
}

.flex-left{
    margin-right: auto;
}

.flex-inline{
    display: inline-flex;
}

.order-0{
    order: 0;
}

.order-1{
    order: 1;
}

.order-2{
    order: 2;
}

.no-padding{
    padding: 0;
}

.no-margin{
    margin: 0;
}

.no-style{
    font-style: normal;
}